@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

.container__size {
  max-width: 1500px;
  margin: 0 auto;
  padding: 30px 100px;
}
@media (max-width: 1000px) {
  .container__size {
    padding: 30px;
  }
}
@media (max-width: 786px) {
  .banner__bg {
    height: 350px;
  }
  .banner__title {
    font-size: 30px;
    line-height: 30px;
  }
  .banner__description {
    font-size: 12px;
  }
}
@media (max-width: 579px) {
  .filter__btn {
    padding: 5px 15px;
  }
  .container__size {
    padding: 15px;
  }
  .search_form {
    margin-bottom: 12px;
  }
  .grid_cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

.lineEight {
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
